<div class="main-wrapper">
  <% if browser.mobile? %>
    <div class="poster-wrapper">
      <img src="<%= image_path('the_boys_splash.jpg') %>">
    </div>
  <% end %>

  <div class="smoke-wrapper">
    <% if !browser.mobile? %>
      <video autoplay loop poster="<%= image_path('poster.png') %>" id="smoke-vid">
        <% if browser.firefox?  %>
          <source src="<%= video_path('HDsmoke_5_compressed.webm') %>" type="video/webm">
        <% elsif browser.chrome? || browser.safari? %>
          <source src="<%= video_path('HDsmoke_5_compressed.mp4') %>" type="video/mp4">
        <% end %>
      </video>
    <% end %>

    <div class="text">
     <div class="tour-dates-wrapper">
      <div class="social-wrapper">
        <%= link_to "http://instagram.com/walkervilles", target: '_blank' do %>
          <i class="fa fa-instagram"></i>
        <% end %>

        <%= link_to "https://twitter.com/Walkervilles", target: '_blank' do %>
          <i class="fa fa-twitter"></i>
        <% end %>

        <%= link_to "https://www.facebook.com/Walkervilles", target: '_blank' do %>
          <i class="fa fa-facebook"></i>
        <% end %>
      </div>
      
      <div class="title-wrapper">
        <h1 id="walkervilles">The Walkervilles  </h1> <h1 id="cool"> ON TOUR NOW </h1>
      </div>
        <table>
         <% @tour_dates.each do |date| %>
            <tr>
              <td class="date-cell"><h2><%= date["datetime"].to_datetime.strftime('%b %d') %></h2></td>
              <td><%= date["venue"]["name"] %></td>

              <% if date["venue"]["region"] =~ /\d/ %>
                <td><%= date["venue"]["city"] %></td>
              <% else %>
                <td><%= date["venue"]["city"] + ", " + date["venue"]["region"] %></td>
              <% end %>

              <% if date["ticket_status"] == "available" %>
                <td class="tickets-link">
                  <%= link_to date["ticket_url"], target: '_blank' do %>
                    Get Tickets!
                  <% end %>
                </td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </table>
    </div>

  </div>
</div>