<div class="main-wrapper">
  <div class="poster-wrapper">
    <img src="<%= image_path('the_boys_splash.jpg') %>">
  </div>

  <div class="smoke-wrapper">
    <!-- <video autoplay loop poster="<%#= image_path('the_boys.jpg') %>" id="smoke-vid"> -->
      <!-- <source src="<%#= video_path('slow_smoke.webm') %>" type="video/webm"> -->
      <!-- <source src="<%#= video_path('HDsmoke_5_compressed2.mp4') %>" type="video/mp4"> -->
    <!-- </video> -->

    <div class="text">
     <div class="tour-dates-wrapper">
      <div class="social-wrapper">
        <%= link_to "http://instagram.com/walkervilles", target: '_blank' do %>
          <i class="fa fa-instagram"></i>
        <% end %>

        <%= link_to "https://twitter.com/Walkervilles", target: '_blank' do %>
          <i class="fa fa-twitter"></i>
        <% end %>

        <%= link_to "https://www.facebook.com/Walkervilles", target: '_blank' do %>
          <i class="fa fa-facebook"></i>
        <% end %>
      </div>
      
      <div class="title-wrapper">
        <h1 id="walkervilles">The Walkervilles  </h1> <h1 id="cool"> Rebirth of the cool</h1>
      </div>
        <table>
         <% @tour_dates.each do |date| %>
            <tr>
              <td class="date-cell"><h2><%= date["datetime"].to_datetime.strftime('%b %d') %></h2></td>
              <td><%= date["venue"]["name"] %></td>

              <% if date["venue"]["region"] =~ /\d/ %>
                <td><%= date["venue"]["city"] %></td>
              <% else %>
                <td><%= date["venue"]["city"] + ", " + date["venue"]["region"] %></td>
              <% end %>

              <% if date["ticket_status"] == "available" %>
                <td class="tickets-link">
                  <%= link_to date["ticket_url"], target: '_blank' do %>
                    Get Tickets!
                  <% end %>
                </td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </table>
    </div>

  </div>
</div>